In [2]:
import pandas as pd

In [5]:
hardware=pd.read_csv("C:\\Users\\dbda\\Desktop\\hardware.csv")
hardware.head()

  adviser    32/60  125   256   6000  256.1  16  128  198  199
0  amdahl   470v/7   29  8000  32000     32   8   32  269  253
1  amdahl  470v/7a   29  8000  32000     32   8   32  220  253
2  amdahl  470v/7b   29  8000  32000     32   8   32  172  253
3  amdahl  470v/7c   29  8000  16000     32   8   16  132  132
4  amdahl   470v/b   26  8000  32000     64   8   32  318  290

In [12]:
x=hardware.iloc[:,2:8]
y=hardware.iloc[:,8]

In [92]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

from sklearn.linear_model import LinearRegression
linear=LinearRegression()
linear.fit(x_train,y_train)
y_pred=linear.predict(x_test)

In [93]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np
print("R2 score value is ",r2_score(y_test,y_pred))
print("mean squared value is ",mean_squared_error(y_test,y_pred))
np.sqrt(mean_squared_error(y_test,y_pred))

R2 score value is  0.8139498208407926
mean squared value is  4280.165326120278

65.42297246472586